<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <{{ module.Namespace }}_{{ module.Name }}>
            <active>true</active>
            <codePool>local</codePool>
        </{{ module.Namespace }}_{{ module.Name }}>
    </modules>
</config>
