<?php
class {{ module.Namespace }}_{{ module.Name }}_{{ module.ControllerName }}Controller extends Mage_Adminhtml_Controller_Action {

    public function {{ module.action }}Action() {
        $this->loadLayout();
        $this->renderLayout();
    }

}
